body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 2rem;
  background-image: linear-gradient(to right, pink, purple);
  padding: 1rem 2rem;
}

.main {
  padding: 2rem;
  box-sizing: border-box;
}

.project-wrapper {
  border: 1px solid;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 2rem;
  gap: 4rem 7rem;
  justify-content: center;
}

.project-card {
  border: 1px solid green;
  height: 8rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
}

.project-cover {
  height: 70%;
}

.project-link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
